{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Activity</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="transactions-and-plans">
        <h1>Hi, {{ customer.name }}. Here is your activity:</h1>
        <div class="transactions">
            <h2 class="transactions-display"><span class="plus">+</span> Transactions:</h2>
            <ul class="transactions-list">
                {% for transaction in transactions %}
                <li>
                    <div>
                        <p><strong>€ {{ transaction.transaction_amount }}</strong> -
                            <span>{{ transaction.transaction_date|date:"d M, Y" }}</span>
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="plans">
            <h2 class="plans-display"><span class="plus">+</span> Available plans for you: </h2>
            <ul class="plans-list">
                {% for plan in plans %}
                <li>
                    <div>
                        <p>• {{ plan.payment_plan}} : Pay on <strong>{{ plan.payment_date|date:"d M, Y" }}</strong> the
                            amount of
                            €{{ plan.payment_amount }}.</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="notes">
        <div class="centralized-notes">
            <h2 class="notes-display"><span class="plus">+</span> Notes</h2>
            <div class="notes-accordion">
                <button class="add-note">Add Note</button>
            </div>
            <ul class="notes-accordion">
                {% for note in notes %}
                <li id="note-{{ note.id }}">
                    <div class="note">
                        <div>
                            <p>{{ note.note }}</p>
                            <button class="edit-note" data-note_id="{{ note.id }}">
                                &#9998;
                            </button>
                            <button class="delete-note" data-note_id="{{ note.id }}">
                                &times;
                            </button>
                        </div>
                        <span>
                            {{ note.created_at|date:"d M, Y" }}
                        </span>
                        <hr>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <aside>
            <div class="overlay hidden"></div>
            <div class="popup hidden">
                <button class="close-popup">&times;</button>
                <form method="POST" id="note-form">
                    {% csrf_token %}
                    <textarea name="note" id="note" cols="30" rows="10" placeholder="Write your note here!"
                        maxlength="255" required></textarea>
                    <button class="submit-note">Save</button>
                </form>
            </div>
        </aside>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/notes.js' %}"></script>

</body>

</html>